<div class="container">
  <div class="container-leaflet" [routerLink]="['..', 'tab2', 'map']">
    <div class="header">{{ 'tab2.maps.aurora-map' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.sub-aurora-map' | translate }}</div>
    <div id="map_canvas"></div>
  </div>

  <h2>{{ 'tab2.maps.solarwind' | translate }}</h2>

  <div class="container-chart">
    <div class="header">{{ 'tab2.maps.nexthours.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.nexthours.sub' | translate }}</div>
    <canvas id="kpnexthours"></canvas>
  </div>

  <div class="container-chart">
    <div class="header">{{ 'tab2.maps.longterm.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.longterm.sub' | translate }}</div>
    <canvas id="kpforecast"></canvas>
  </div>

  <div class="container-poles">
    <div (click)="showPoles()" class="poles">
      <span>{{ 'tab2.maps.poles' | translate }}</span>
      <span class="icon icon-earth"></span>
    </div>
  </div>
</div>
