@import '../../../theme/shared';
:host {
  .container {
    margin-bottom: 25px;

    .header {
      @include header-title;

      &:before {
        @include bottom-header;
      }
    }

    .sub {
      @include subtitle-header;
    }
  }
}
.container-leaflet {
  #map_canvas {
    height: 125px;
    width: 100%;
  }
}

.container-poles {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  .poles {
    display: flex;
    flex-direction: column;

    span:first-child {
      font-family: var(--ion-font-semibold);
    }

    span.icon-earth {
      color: var(--ion-color-primary);
      font-size: 3em;
      padding-top: 16px;
    }
  }
}

.container-chart {
  margin-top: 15px;
  font-size: 0.8em;
}
