@import '../../../theme/shared';

.icon.icon-caf {
  font-size: 18px;
}

.card-container {
  &.about {
    color: white;
    background-image: url('/assets/img/banner.png');
    background-size: cover;
    padding-bottom: 10px;
    margin-bottom: 25px;
    -webkit-filter: brightness(0.85);
    filter: brightness(0.85);
    :nth-child(2) {
      margin-top: 15px;
    }
    :last-child {
      text-align: center;
    }
    span {
      display: block;
      margin-left: 15px;
    }
    button {
      color: var(--ion-color-secondary);
      background-color: rgba(0, 0, 0, 0);
    }

    div.button-wrapper {
      display: flex;
      ion-button.legal {
        margin: 10px auto 0;
        font-size: 12px;
      }
    }

    .version {
      font-size: 0.8em;
    }
  }

  ion-img {
    border: 2px solid var(--ion-color-primary);
    width: auto;
  }

  .setting-line {
    display: flex;
    align-items: center;
    p {
      width: 50%;
      padding-left: 16px;
      font-size: 16px;
    }
    ion-item {
      width: 50%;
    }
  }
}
