<app-header titre="{{ 'tab3.settings.title' | translate }}"></app-header>

<ion-content>
  <div class="card-container">
    <div class="header">
      <span>{{ 'tab3.settings.infos' | translate }}</span>
    </div>
    <div class="sub">{{ 'tab3.settings.subinfos' | translate }}</div>
    <ion-item [routerLink]="['..', 'infos']">
      <span>{{ 'tab3.settings.infos.text' | translate }}</span>
    </ion-item>
    <ion-item [routerLink]="['..', 'helpcenter']">
      <span>{{ 'tab3.settings.infos.helpcenter' | translate }}</span>
    </ion-item>
  </div>

  <!--    <ion-card>z
          <ion-card-content>
              <ion-item>
                  <ion-label>{{ 'tab3.settings.notifications' | translate }}</ion-label>
                  <ion-toggle color="primary" (ionChange)="activeNotif($event)" [checked]="notifications"></ion-toggle>
              </ion-item>
              <ion-item *ngIf="notifications">
                  <ion-label>{{ 'tab3.settings.kp' | translate }}</ion-label>
                  <ion-select value="{{ notifKp }}" interface="action-sheet" (ionChange)="selectedKp($event)">
                      <ion-select-option *ngFor="let kp of kpindex" value="{{ kp }}">{{ kp }}</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-card-content>
      </ion-card>-->
  <!--    <ion-img src="/assets/img/aurora-tab3.jpg"></ion-img>-->

  <div class="card-container">
    <div class="header">
      <span>{{ 'tab3.settings.languages' | translate }}</span>
    </div>
    <div class="sub">{{ 'tab3.settings.sublanguages' | translate }}</div>
    <ion-item>
      <ion-select
        [value]="locale"
        aria-label="locale choice"
        interface="action-sheet"
        (ionChange)="setLocale($event)"
        [cancelText]="'global.cancel' | translate"
      >
        <ion-select-option *ngFor="let locale of locales" value="{{ locale.slug }}">{{ locale.label | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="card-container">
    <div class="header">
      <span>{{ 'tab3.settings.measure' | translate }}</span>
    </div>
    <div class="sub">{{ 'tab3.settings.submeasure' | translate }}</div>
    <ion-item>
      <ion-select
        [value]="measureUnits"
        aria-label="unit of measure choice"
        interface="action-sheet"
        (ionChange)="setMeasureUnit($event)"
        [cancelText]="'global.cancel' | translate"
      >
        <ion-select-option *ngFor="let u of measure" [value]="u.slug">
          <span>{{ u.label | translate }}</span>
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="card-container">
    <div class="header">
      <span>{{ 'tab3.settings.temperature' | translate }}</span>
    </div>
    <div class="sub">{{ 'tab3.settings.subtemperature' | translate }}</div>
    <ion-item>
      <ion-select
        [value]="temperatureUnits"
        interface="action-sheet"
        aria-label="temperature unit choice"
        (ionChange)="setTemperatureUnit($event)"
        [cancelText]="'global.cancel' | translate"
      >
        <ion-select-option *ngFor="let u of temperature" [value]="u.slug">
          <span>{{ u.label | translate }}</span>
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="card-container credits">
    <div class="header credits"><span>{{ 'tab3.settings.credits.title' | translate }}</span></div>
    <span *ngFor="let c of credits">
      {{ 'tab3.settings.credits.' + c.label | translate }}
      <a href="#" (click)="openUrl(c.url)">{{ 'tab3.settings.credits.' + c.labelLink | translate }}</a>
      <ng-container *ngIf="c?.bis">
        {{ 'tab3.settings.credits.' + c.bis.label | translate }}
        <a href="#" (click)="openUrl(c.bis.url)">{{ 'tab3.settings.credits.' + c.bis.labelLink | translate }}</a>
      </ng-container>
    </span>
    <span>
      <ion-button class="legal" color="primary" size="small" (click)="CGU()">{{ 'tab3.settings.cgu' | translate }}</ion-button>
    </span>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="arrow-up" color="dark"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="secondary" (click)="openUrl('https://www.linkedin.com/in/morgan-nicol-1b019b104/')">
      <ion-icon name="logo-linkedin" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" (click)="openUrl('https://github.com/Ichoui')">
      <ion-icon name="logo-github" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" (click)="openUrl('https://gitlab.com/Ichoui')">
      <ion-icon name="logo-gitlab" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" href="mailto:morganichoui@gmail.com">
      <ion-icon name="at" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" (click)="openUrl('https://www.paypal.me/ichoui/1')">
      <span class="icon icon-caf"></span>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
