<app-header titre="{{ 'tab3.more.title' | translate }}"></app-header>

<ion-content>
  <div class="card-container">
    <div class="header">
      <span>{{ 'tab3.more.infos' | translate }}</span>
    </div>
    <div class="sub">{{ 'tab3.more.subinfos' | translate }}</div>
    <ion-item [routerLink]="['..', 'infos']">
      <span>{{ 'tab3.more.infos.text' | translate }}</span>
    </ion-item>
    <ion-item [routerLink]="['..', 'helpcenter']">
      <span>{{ 'tab3.more.infos.helpcenter' | translate }}</span>
    </ion-item>
  </div>

  <div class="card-container">
    <div class="header">
      <span>{{ 'tab3.more.settings' | translate }}</span>
    </div>
    <div class="sub">{{ 'tab3.more.subsettings' | translate }}</div>
    <div class="setting-line">
      <p>{{ 'tab3.more.languages' | translate }}</p>
      <ion-item>
        <ion-select
          [value]="locale"
          aria-label="locale choice"
          interface="action-sheet"
          (ionChange)="setLocale($event)"
          [cancelText]="'global.cancel' | translate"
        >
          <ion-select-option *ngFor="let locale of locales" value="{{ locale.slug }}">{{ locale.label | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="setting-line">
      <p>{{ 'tab3.more.measure' | translate }}</p>
      <ion-item>
        <ion-select
          [value]="measureUnits"
          aria-label="unit of measure choice"
          interface="action-sheet"
          (ionChange)="setMeasureUnit($event)"
          [cancelText]="'global.cancel' | translate"
        >
          <ion-select-option *ngFor="let u of measure" [value]="u.slug">
            <span>{{ u.label | translate }}</span>
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="setting-line">
      <p>{{ 'tab3.more.temperature' | translate }}</p>
      <ion-item>
        <ion-select
          [value]="temperatureUnits"
          interface="action-sheet"
          aria-label="temperature unit choice"
          (ionChange)="setTemperatureUnit($event)"
          [cancelText]="'global.cancel' | translate"
        >
          <ion-select-option *ngFor="let u of temperature" [value]="u.slug">
            <span>{{ u.label | translate }}</span>
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <div class="card-container about">
    <div class="header about"><span>{{ 'tab3.more.about.title' | translate }}</span></div>
    <span *ngFor="let a of about">
      {{ 'tab3.more.about.' + a.label | translate }}
      <button (click)="openUrl(a.url)">{{ 'tab3.more.about.' + a.labelLink | translate }}</button>
      <ng-container *ngIf="a?.bis">
        {{ 'tab3.more.about.' + a.bis.label | translate }}
        <button (click)="openUrl(a.bis.url)">{{ 'tab3.more.about.' + a.bis.labelLink | translate }}</button>
      </ng-container>
    </span>
    <span>
      <ion-button class="legal" color="primary" size="small" (click)="CGU()">{{ 'tab3.more.cgu' | translate }}</ion-button>
    </span>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="arrow-up" color="dark"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="secondary" (click)="openUrl('https://github.com/Ichoui', 'com.github.android')">
      <ion-icon name="logo-github" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" href="mailto:aurorapp.lights@gmail.com">
      <ion-icon name="at" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" (click)="openUrl('https://www.paypal.me/ichoui/1', 'com.paypal.android.p2pmobile')">
      <span class="icon icon-caf"></span>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
