ion-header {
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 68px;

    img {
      width: 120px;
    }

    span {
      text-align: right;
      font-family: var(--ion-font-bold);
      font-weight: bold;
      font-size: 1.8em;
      text-transform: uppercase;
      padding-right: 10px;
    }
  }
}
