<app-header titre="{{ 'tab3.infos.title' | translate }}"></app-header>

<ion-content>
  <div [routerLink]="['','tabs','tab3']" class="back">
    <span class="icon icon-back1"></span>
  </div>
  <ng-container *ngIf="routeData.infos">
    <ion-card class="welcome-card" (click)="visibility( 0)">
      <ion-card-header>{{'tab3.infos.welcome.title' | translate }}</ion-card-header>
      <ion-card-content
        *ngIf="tabOpen.includes(0)"
        style="display: block; text-align: justify"
        ²
        [innerHtml]="'tab3.infos.welcome.message' | translate"
      ></ion-card-content>
    </ion-card>
    <ion-card class="card-container">
      <ion-card-header class="header"><span>{{ 'tab3.infos.firstblock.header' | translate }}</span></ion-card-header>

      <ng-container *ngFor="let card of firstblockCard">
        <app-card
          (click)="visibility(card.id)"
          [visibility]="{index: card.id, tabOpen}"
          [block]="card.block"
          [value]="card.value"
          [classList]="card?.classList"
          [list]="card?.list"
          [extra]="card?.extra"
          [annecdotes]="card?.annecdotes"
        ></app-card>
      </ng-container>
    </ion-card>

    <ion-card class="card-container">
      <ion-card-header class="header"><span>{{ 'tab3.infos.secondblock.header' | translate }}</span></ion-card-header>
      <ng-container *ngFor="let card of secondblockCard">
        <app-card (click)="visibility(card.id)" [visibility]="{index: card.id, tabOpen}" [block]="card.block" [value]="card.value"></app-card>
      </ng-container>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="routeData.helpcenter">
    <ion-card class="card-container">
      <ion-card-header class="header"><span>{{ 'tab3.infos.helpcenter.header' | translate }}</span></ion-card-header>
      <ng-container *ngFor="let card of helpcenterCard">
        <app-card (click)="visibility(card.id)" [visibility]="{index: card.id, tabOpen}" [block]="card.block" [value]="card.value"></app-card>
      </ng-container>
    </ion-card>
  </ng-container>
</ion-content>
