<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" class="back close">
        <span class="icon icon-back1"></span>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="cgu">{{ 'cgu.title' | translate }}</span>
      <span *ngIf="map">{{ 'tab2.maps.worldmap' | translate }}</span>
      <span *ngIf="northPole && southPole">{{ 'tab2.maps.poles' | translate }}</span>
    </ion-title>
  </ion-toolbar>

  <div *ngIf="map" class="container-map map">
    <ion-img [src]="map"></ion-img>
  </div>

  <div *ngIf="northPole" class="container-map">
    <div class="subtitle explanations">{{ 'tab2.maps.poles.explanations' | translate }}</div>
    <div class="subtitle">{{ 'tab2.maps.pole.north' | translate }}</div>
    <ion-img [src]="tabNorth[valueNorth]"></ion-img>
    <div class="datetime">{{ hourNorth }}{{ dateNorth }}</div>
    <ion-range
      [min]="minNorth"
      [max]="maxNorth - 1"
      color="primary"
      (ionChange)="valuePolesChange($event, pole.NORTH)"
    ></ion-range>
  </div>
  <div *ngIf="southPole" class="container-map">
    <div class="subtitle">{{ 'tab2.maps.pole.south' | translate }}</div>
    <ion-img [src]="tabSouth[valueSouth]"></ion-img>
    <div class="datetime">{{ hourSouth }}{{ dateSouth }}</div>
    <ion-range
      [min]="minSouth"
      [max]="maxSouth - 1"
      color="primary"
      (ionChange)="valuePolesChange($event, pole.SOUTH)"
    ></ion-range>
  </div>

  <div *ngIf="cgu" id="cgu">
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art1.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art1.text' | translate" class="art-msg"></div>
    </div>
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art2.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art2.text' | translate" class="art-msg"></div>
    </div>
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art3.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art3.text' | translate" class="art-msg"></div>
    </div>
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art4.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art4.text' | translate" class="art-msg"></div>
    </div>
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art5.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art5.text' | translate" class="art-msg"></div>
    </div>
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art6.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art6.text' | translate" class="art-msg"></div>
    </div>
  </div>
</ion-content>
