<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" class="back close">
        <span class="icon icon-back1"></span>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="cgu">{{ 'cgu.title' | translate }}</span>
      <span *ngIf="ovation">{{ 'tab2.forecast.poles' | translate }}</span>
    </ion-title>
  </ion-toolbar>

  <div *ngIf="ovation" class="container-map">
    <div class="subtitle explanations">{{ 'tab2.forecast.poles.explanations' | translate }}</div>
    <div class="subtitle">{{ 'tab2.forecast.pole.north' | translate }}</div>
    <ion-img [src]="tabNorth[indexNorth]?.url"></ion-img>
    <div class="datetime">
      <span>{{ momentDate(tabNorth[indexNorth]?.time) }}</span>
      {{ momentHour(tabNorth[indexNorth]?.time) }}
      <!--      {{ tabNorth[indexNorth]?.time | date: 'HH:mm' }}-->
    </div>
    <ion-range
      color="primary"
      aria-label="North Hour"
      [min]="minNorth"
      [max]="maxNorth - 1"
      (ionChange)="valuePolesChange($event.detail.value, pole.NORTH)"
    ></ion-range>
  </div>
  <div *ngIf="ovation" class="container-map">
    <div class="subtitle">{{ 'tab2.forecast.pole.south' | translate }}</div>
    <ion-img [src]="tabSouth[indexSouth]?.url"></ion-img>
    <div class="datetime">
      <span>{{ momentDate(tabSouth[indexSouth]?.time) }}</span>
      {{ tabSouth[indexSouth]?.time | date: 'HH:mm' }}
    </div>
    <ion-range
      color="primary"
      aria-label="South Hour"
      [min]="minSouth"
      [max]="maxSouth - 1"
      (ionChange)="valuePolesChange($event.detail.value, pole.SOUTH)"
    ></ion-range>
  </div>

  <div *ngIf="cgu" id="cgu">
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art1.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art1.text' | translate" class="art-msg"></div>
    </div>
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art2.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art2.text' | translate" class="art-msg"></div>
    </div>
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art3.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art3.text' | translate" class="art-msg"></div>
    </div>
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art4.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art4.text' | translate" class="art-msg"></div>
    </div>
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art5.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art5.text' | translate" class="art-msg"></div>
    </div>
    <div class="cgu-block">
      <div [innerHTML]="'cgu.art6.title' | translate" class="art-title"></div>
      <div [innerHTML]="'cgu.art6.text' | translate" class="art-msg"></div>
    </div>
  </div>
</ion-content>
