pinch-zoom {
  margin-top: 40px;
}

ion-toolbar {
  ion-buttons {
    max-width: 40px;
    margin-inline-start: 0;
  }
  ion-title {
    padding: 20px 40px 20px 0;
    font-size: 1em;
    text-align: center;
    font-family: var(--ion-font-semibold);
    text-transform: uppercase;
  }
}

.container-map {
  &:first-child {
    margin-top: 30px;
  }

  .subtitle {
    &.explanations {
      display: flex;
      align-items: normal;
      margin: 0 20px;
      font-family: var(--ion-font-semibold);
      color: #fff;
      font-size: 14px;
      span {
        text-transform: initial;
      }
      .icon {
        margin-right: 5px;
      }
    }

    margin-top: 20px;
    margin-bottom: 10px;
    font-family: var(--ion-font-semibold);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    color: var(--ion-color-primary);
  }

  ion-img {
    border: 1px solid var(--ion-color-primary);
  }

  ion-range {
    padding: 0 60px;
  }

  .datetime {
    // not used atm, removed
    text-align: center;
    margin: 5px 0 -5px 0;
    height: 18px;
    font-family: var(--ion-font-semibold);
    text-transform: capitalize;
  }
}

#cgu {
  padding: 0 15px;

  .title {
    text-align: center;
    font-family: var(--ion-font-bold);
    margin-bottom: 10px;
  }

  .art-title {
    font-family: var(--ion-font-semibold);
    color: var(--ion-color-primary);
    margin-bottom: 5px;
  }

  .art-msg {
    margin-bottom: 10px;
  }
}

#canvas {
  width: 100%;
  display: block;
}
