<app-header titre="{{ 'tab2.title' | translate }}"></app-header>

<ion-content fullscreen>
  <ng-container *ngIf="loading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <p class="text-spinner">{{ 'global.loading' | translate }}</p>
    <div class="content-spinner">
      <div class="whirly-loader"></div>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading && !dataError.value">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="140">
      <div class="refresh whirly-loader"></div>
    </ion-refresher>

    <ion-slides [options]="slideOpts">
      <ion-slide>
        <app-kpindex [moduleACEInput]="moduleACE"></app-kpindex>
      </ion-slide>
      <ion-slide>
        <app-maps [kpForecast27Input]="kpForecast27days" [kpForecastInput]="kpForecast"></app-maps>
      </ion-slide>
    </ion-slides>
  </ng-container>

  <app-broken *ngIf="!loading && dataError.value" [dataError]="dataError"> </app-broken>

</ion-content>
