<app-header [titre]=" 'tab2.title' | translate" />
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" [pullMin]="140">
    <ion-refresher-content refreshingSpinner="bubbles" />
  </ion-refresher>

  @if (loadSwiper) {
  <ng-container>
    <!-- progressbar ou loop ! idk -->
    <swiper-container slides-per-view="1" auto-height="true" pagination="true" pagination-clickable="true" pagination-type="bullets">
      <swiper-slide>
        <app-instant-auroral-activity
          [loading]="loading"
          [solarWind]="solarWindInstant"
          [measureUnit]="measure"
          [nowcastAurora]="nowcastAurora"
          [kpCurrent]="kpCurrent"
        />
      </swiper-slide>
      <swiper-slide>
        <app-forecast-auroral-activity
          [loading]="loading"
          [kpForecast27]="kpForecast27days"
          [kpForecast]="kpForecast"
          [solarWind]="solarWind"
          [solarCycle]="solarCycle"
          [measure]="measure"
          [locale]="locale"
          [hourClock]="hourClock"
        />
      </swiper-slide>
    </swiper-container>
  </ng-container>
  }

  <app-toast [toastError]="dataToast" />
</ion-content>
