<app-header [titre]=" 'tab2.title' | translate"></app-header>
<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="140">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="loadSwiper">
    <swiper [config]="configSwiper">
      <ng-template swiperSlide>
        <app-instant-auroral-activity
          [loading]="loading"
          [solarWind]="solarWindInstant"
          [measureUnit]="measure"
          [nowcastAurora]="nowcastAurora"
          [kpCurrent]="kpCurrent"
        ></app-instant-auroral-activity>
      </ng-template>
      <ng-template swiperSlide>
        <app-forecast-auroral-activity
          [loading]="loading"
          [kpForecast27]="kpForecast27days"
          [kpForecast]="kpForecast"
          [solarWind]="solarWind"
          [solarCycle]="solarCycle"
          [measure]="measure"
          [locale]="locale"
          [hourClock]="hourClock"
        ></app-forecast-auroral-activity>
      </ng-template>
    </swiper>
  </ng-container>

  <app-toast [toastError]="dataToast"></app-toast>
</ion-content>
