<app-header titre="{{ 'tab1.title' | translate }}"></app-header>

<ion-content fullscreen>
  <ng-container *ngIf="loading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <p class="text-spinner">{{ 'global.loading' | translate }}</p>
    <div class="content-spinner">
      <div class="whirly-loader"></div>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading && !dataError.value">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="160">
      <div class="refresh whirly-loader"></div>
    </ion-refresher>

    <h2 class="ion-text-center">
      <span class="city">
        <span>
          <ion-icon name="pin"></ion-icon>
          {{ city ?? '' }}
        </span>
      </span>
      <span class="country">{{ country }}</span>
      <span *ngIf="!city && !country" class="country">{{ 'global.unknown' | translate }}</span>
    </h2>

    <app-meteo
      [coords]="coords"
      [currentWeather]="dataCurrentWeather"
      [hourlyWeather]="dataHourly"
      [sevenDayWeather]="dataSevenDay"
      [measure]="measureUnits"
      [temperature]="temperatureUnits"
      [locale]="locale"
    ></app-meteo>
  </ng-container>

<!--  <app-broken *ngIf="!loading && dataError.value" [dataError]="dataError"></app-broken>-->
</ion-content>
