<app-header titre="{{ 'tab1.title' | translate }}"></app-header>

<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="160">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <h2 class="ion-text-center">
    <span class="city">
      <span>
        <ion-icon name="pin"></ion-icon>
        {{ city ?? '' }}
      </span>
    </span>
    <span class="country">{{ country }}</span>
    <span *ngIf="!city && !country" class="country">{{ 'global.unknown' | translate }}</span>
  </h2>

  <app-meteo
    [loading]="loading"
    [coords]="coords"
    [currentWeather]="dataCurrentWeather"
    [hourlyWeather]="dataHourly"
    [sevenDayWeather]="dataSevenDay"
    [measure]="measureUnits"
    [temperature]="temperatureUnits"
    [tzOffset]="tzOffset"
    [locale]="locale"
    [hourClock]="hourClock"
  ></app-meteo>

  <app-toast [toastError]="dataToast"></app-toast>
</ion-content>
