@font-face {
  font-family: 'Oswald-Medium';
  src: url('/assets/fonts/Oswald-Medium.eot');
  src: url('/assets/fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Oswald-Medium.woff2') format('woff2'), url('/assets/fonts/Oswald-Medium.woff') format('woff'),
    url('/assets/fonts/Oswald-Medium.ttf') format('truetype'),
    url('/assets/fonts/Oswald-Medium.svg#Oswald-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url('/assets/fonts/Oswald-Regular.eot');
  src: url('/assets/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Oswald-Regular.woff2') format('woff2'), url('/assets/fonts/Oswald-Regular.woff') format('woff'),
    url('/assets/fonts/Oswald-Regular.ttf') format('truetype'),
    url('/assets/fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-SemiBold';
  src: url('/assets/fonts/Oswald-SemiBold.eot');
  src: url('/assets/fonts/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Oswald-SemiBold.woff2') format('woff2'), url('/assets/fonts/Oswald-SemiBold.woff') format('woff'),
    url('/assets/fonts/Oswald-SemiBold.ttf') format('truetype'),
    url('/assets/fonts/Oswald-SemiBold.svg#Oswald-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('/assets/fonts/Oswald-Bold.eot');
  src: url('/assets/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Oswald-Bold.woff2') format('woff2'), url('/assets/fonts/Oswald-Bold.woff') format('woff'),
    url('/assets/fonts/Oswald-Bold.ttf') format('truetype'),
    url('/assets/fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
