@mixin header-title {
  position: relative;
  margin: 5px 0 0 15px;
  text-align: left;
  font-family: var(--ion-font-bold);
  color: #fff;
  width: fit-content;
  font-size: 16px;
}

@mixin bottom-header {
  content: '';
  position: absolute;
  height: 2px;
  background: var(--ion-color-primary);
  bottom: -2px;
  //width: 40px;
  width: 50%;
  left: 0;
}

@mixin subtitle-header {
  text-align: left;
  margin-left: 15px;
  font-size: 11px;
  margin-top: 3px;
  font-family: var(--ion-font-light);
  color: var(--ion-text-color);
  margin-bottom: 15px;
}
