@import 'shared';

* {
  font-family: var(--ion-font-regular);
}

body {
  background: var(--ion-background-color);
}

.ion-page {
  padding-bottom: 30px;
}

ion-header {
  font-size: 13px;
}

ion-text {
  font-family: var(--ion-font-semibold);
}

app-header {
  z-index: 999;
}
ion-content {
  z-index: 450;
}

app-instant-auroral-activity {
  min-height: 80vh !important;
  overflow: hidden;
}

app-forecast-auroral-activity {
  height: 80vh;
  overflow-y: auto;
}
app-instant-auroral-activity,
app-forecast-auroral-activity {
  width: 100%;
  margin-top: 10px;
}

ion-card-content {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

app-tab2 {
  .swiper swiper.slide {
    height: auto !important;
  }
  .swiper-pagination {
    display: flex;
    position: fixed;
    top: 68px;
    z-index: 2;
    width: 100%;
    .swiper-pagination-bullet {
      display: block;
      background-color: var(--ion-color-tertiary);
      height: 3px;
      width: 50%;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--ion-color-primary);
    }
  }
}

.card-container {
  position: relative;
  margin: auto;
  margin-top: 20px !important;
  width: 90%;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0, rgba(0, 0, 0, 0.12) 0px 1px 5px 0;
  .header {
    display: flex;
    align-items: center;
    span {
      @include header-title;

      &:before {
        @include bottom-header;
      }
    }
    ion-icon {
      margin-left: 5px;
      font-size: 18px;
      padding-top: 4px;
    }
  }

  .sub {
    @include subtitle-header;
  }
}

//@media (prefers-color-scheme: dark) {
// DARK-MODE !
.map-filter {
  filter: var(--map-tiles-filter, none);
}

ion-popover {
  //max-width: 80px;
  div {
    margin: 8px;
    font-family: var(--ion-font-regular);
    font-size: 12px;
    text-align: justify;
  }
}

.refresher-native {
  ion-spinner,
  .arrow-container ion-icon {
    color: var(--ion-color-dark) !important;
  }

  .refresher-pulling-icon,
  .refresher-refreshing-icon {
    background-color: var(--ion-color-primary) !important;
  }
}

ion-item {
  --border-color: rgba(255, 255, 255, 0);
}
ion-tab-bar {
  --border: none;
}
