@import '../../../theme/shared';

.today,
.previsions,
.cloudy-rate,
.details,
.datas,
.next-hours {
  padding: 10px 0;
}

.container {
  height: auto;
  overflow: scroll;
}

// Temperature du jour
.today {
  display: flex;
  flex-direction: column;

  .row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .minicons {
      position: absolute;
      bottom: 10px;
      left: 70%;
      font-size: 25px;
    }

    .temperature {
      font-size: 55px;
      sup {
        top: -20px !important;
        font-size: 25px !important;
      }
    }
    &.feels {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      font-family: var(--ion-font-medium);
      height: 26px;
      .tiret {
        color: var(--ion-color-primary);
      }
      .description {
        text-transform: capitalize;
      }
    }
  }
}

.date {
  font-family: var(--ion-font-semibold);
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
}

.next-hours {
  .next-more-info {
    display: flex;
    align-content: center;
  }

  .next-content {
    img {
    }
    .rain {
      display: flex;
      align-items: center;
      transform: translate(-50%);
      margin-left: 50%;

      span.icon {
        font-size: 0.55em;
        padding-right: 2px;
      }

      .percent {
        font-size: 0.73em;
      }
    }
  }
}

// Prévisions 7j
.previsions {
  display: flex;
  justify-content: center;

  .next-days {
    display: flex;
    flex-direction: column;
    align-items: center;

    .day {
      font-family: var(--ion-font-semibold);
      text-transform: capitalize;
      color: var(--ion-color-primary);
    }
  }

  span.icon {
    //font-size: 3em; // icomoons
    //filter: grayscale(25%);
    width: 120%;
  }

  .rain {
    display: flex;
    align-items: center;
    margin-top: 4px;

    span.icon {
      font-size: 0.55em;
      padding-right: 2px;
    }

    .percent {
      font-size: 0.73em;
    }
  }

  .temps {
    display: flex;
    flex-direction: column;

    .temp-max {
      position: relative;
      padding-bottom: 3px;
      font-weight: bold;
      //border-bottom: 1px solid;
      //width: 26px;
      &:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid;
        width: 15px;
        bottom: 0;
        left: 0;
        height: 1px;
      }
    }

    .temp-min {
      padding-top: 3px;
      opacity: 0.8;
    }
  }
}

// Ennuagement
.cloudy-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .cloudy {
    display: flex;
    align-items: center;
    padding-left: 3px;

    .time {
      margin-right: 10px;
      text-transform: uppercase;
      width: auto;
    }

    .bar {
      height: 15px;
      width: 60vw;
      background: linear-gradient(to right, var(--ion-color-secondary) 30%, var(--ion-color-primary) 55%, var(--ion-color-tertiary)) 100%;
    }

    .percent {
      margin-left: 5px;
    }
  }

  span.icon {
    font-size: 2em;
  }
}

//Détails
.data-details {
  display: flex;
  justify-content: space-evenly;
  margin: 1px 0;

  > div {
    width: 50%;
  }

  .value {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  .icon {
    text-align: center;
    span {
      font-size: 3em;
    }
  }

  .label {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
  }
}
