<div class="container">
  <div class="date">{{ currentDatetime }}</div>
  <div class="today">
    <div class="row">
      <ng-lottie *ngIf="lottieConfig" [options]="lottieConfig" [width]="widthCurrent + 'px'" [height]="heightCurrent + 'px'"></ng-lottie>
      <div class="temperature">
        {{ currentWeather?.temp | number: '1.0-0' }}
        <ng-container *ngTemplateOutlet="loading ? isLoadingNumber : null; context: { index: 2.4 }"></ng-container>
        <sup *ngIf="temperature === temperatureUnits.CELSIUS">°C</sup>
        <sup *ngIf="temperature === temperatureUnits.FAHRENHEIT">°F</sup>
        <sup *ngIf="temperature === temperatureUnits.KELVIN">°K</sup>
      </div>
      <span *ngIf="currentWeather?.temp >= 33 && !loading" class="icon minicons icon-hot"></span>
      <span *ngIf="currentWeather?.temp <= 0 && !loading" class="icon minicons icon-cold"></span>
    </div>
    <div class="row feels">
      <ng-container *ngTemplateOutlet="loading ? isLoadingNumber : null; context: { index: 2.5 }"></ng-container>
      <div *ngIf="!loading">
        {{ todayTemp?.max | number: '1.0-0' }}° / {{ todayTemp?.min | number: '1.0-0' }}°&nbsp;
        <span class="tiret">—</span>
        &nbsp;{{ 'tab1.weather.feelslike' | translate }}&nbsp;{{ currentWeather?.feels_like | number: '1.0-0' }}°&nbsp;
        <span class="tiret">—</span>
        <span class="description">&nbsp;{{ currentWeather?.weather[0].description }}</span>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="header">
      <span>
        {{ 'tab1.weather.next.hours' | translate }}
      </span>
    </div>
    <div class="sub"></div>
    <div class="next-hours">
      <canvas id="next-hours" #canvHeight></canvas>
      <ng-container *ngTemplateOutlet="loading ? isLoadingChart : null; context: { canvHeight: canvHeight?.style.height }"></ng-container>
      <div *ngIf="!loading" class="next-more-info">
        <ng-container *ngFor="let hourly of hourlyWeather; index as i">
          <div *ngIf="i < dataNumbersInChart" class="next-content">
            <img src="assets/img/meteoOWM/{{ hourly.weather[0].icon }}@2x.png" [alt]="hourly.weather[0].description" />
            <div class="rain">
              <span class="icon icon-drop"></span>
              <div class="percent">{{ hourly.pop ? (hourly.pop | percent: '1.0-0') : '0%' }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="header">
      <span>
        {{ 'tab1.weather.seven.days' | translate }}
      </span>
    </div>
    <div class="sub"></div>
    <ng-container *ngTemplateOutlet="loading ? isLoadingChart : null; context: { height: true }"></ng-container>
    <div *ngIf="!loading" class="previsions">
      <div class="next-days" *ngFor="let day of days; let i = index">
        <span class="day" [innerHTML]="splitDate(day.date)"></span>
        <div class="rain">
          <span class="icon icon-drop"></span>
          <div class="percent">{{ day.pop ? (day.pop | percent: '1.0-0') : '0%' }}</div>
        </div>
        <span class="icon">
          <img src="assets/img/meteoOWM/{{ day.weather[0].icon }}@2x.png" [alt]="day.weather[0].description" />
        </span>
        <div class="temps">
          <span class="temp-max">{{ day.temp.max | number: '1.0-0' }}°</span>
          <span class="temp-min">{{ day.temp.min | number: '1.0-0' }}°</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="header">
      <span>
        {{ 'tab1.weather.cover.clouds' | translate }}
      </span>
    </div>
    <div class="sub"></div>
    <ng-container *ngTemplateOutlet="loading ? isLoadingChart : null; context: { height: true }"></ng-container>
    <div *ngIf="!loading" class="cloudy-rate">
      <div *ngFor="let c of cloudy" class="cloudy">
        <div class="time">{{ c.time }}</div>
        <div class="bar" [style.width]="(c.percent * 67) / 100 + 'vw'"></div>
        <div class="percent">{{ c.percent }}%</div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="header">
      <span>{{ 'tab1.weather.details' | translate }}</span>
    </div>
    <div class="sub"></div>
    <div class="data-details">
      <div class="sun">
        <div class="icon">
          <span class="icon icon-sunrise"></span>
        </div>
        <div class="label">{{ 'tab1.weather.details.data.sunrise' | translate }}</div>
        <div *ngIf="!loading" class="value">{{ sunrise ?? 0 }}</div>
        <ng-container *ngTemplateOutlet="loading ? isLoadingNumber : null; context: { index: 2.4 }"></ng-container>
      </div>
      <div class="sun">
        <div class="icon">
          <span class="icon icon-sunset"></span>
        </div>
        <div class="label">{{ 'tab1.weather.details.data.sunset' | translate }}</div>
        <div *ngIf="!loading" class="value">{{ sunset ?? 0 }}</div>
        <ng-container *ngTemplateOutlet="loading ? isLoadingNumber : null; context: { index: 2.55 }"></ng-container>
      </div>
    </div>
    <div class="data-details">
      <div class="windy">
        <div class="icon">
          <span class="icon icon-wind-cloud"></span>
        </div>
        <div class="label">{{ 'tab1.weather.details.data.windspeed' | translate }}</div>
        <div *ngIf="measure === measureUnits.METRIC && !loading" class="value">{{ currentWeather?.wind_speed * 3.2 | number: '1.0-0' }} km/h</div>
        <div *ngIf="measure === measureUnits.IMPERIAL && !loading" class="value">{{ currentWeather?.wind_speed | number: '1.0-0' }} mph</div>
        <ng-container *ngTemplateOutlet="loading ? isLoadingNumber : null; context: { index: 2.4 }"></ng-container>
      </div>
      <div class="feels-like">
        <div class="icon" [style.transform]="'rotate(' + currentWeather?.wind_deg + 'deg)'">
          <span class="icon icon-vent-rose"></span>
        </div>
        <div class="label">{{ 'tab1.weather.details.data.winddeg' | translate }}</div>
        <div *ngIf="!loading" class="value">{{ calculateWindDeg(currentWeather?.wind_deg) }} ({{ currentWeather?.wind_deg }}°)</div>
        <ng-container *ngTemplateOutlet="loading ? isLoadingNumber : null; context: { index: 2.55 }"></ng-container>
      </div>
    </div>
    <div class="data-details">
      <div class="windy">
        <div class="icon">
          <span class="icon icon-uv-index"></span>
        </div>
        <div class="label">{{ 'tab1.weather.details.data.uvindex' | translate }}</div>
        <div *ngIf="!loading" class="value">{{ calculateUV(currentWeather?.uvi) }} ({{ currentWeather?.uvi | number: '1.0-0' }})</div>
        <ng-container *ngTemplateOutlet="loading ? isLoadingNumber : null; context: { index: 2.4 }"></ng-container>
      </div>
      <div class="feels-like">
        <div class="icon">
          <span class="icon icon-humidity"></span>
        </div>
        <div class="label">{{ 'tab1.weather.details.data.humidity' | translate }}</div>
        <div *ngIf="!loading" class="value">{{ currentWeather?.humidity }} %</div>
        <ng-container *ngTemplateOutlet="loading ? isLoadingNumber : null; context: { index: 2.55 }"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #isLoadingNumber let-index="index">
  <app-placeholder-data [placeholderNumber]="true" [index]="index"></app-placeholder-data>
</ng-template>

<ng-template #isLoadingChart let-canvHeight="canvHeight" let-height="height">
  <app-placeholder-charts [canvHeight]="canvHeight" [height]="height"></app-placeholder-charts>
</ng-template>
