<div class="container">
  <div class="card-container" [routerLink]="['..', 'tab2', 'map']">
    <div class="header">{{ 'tab2.forecast.aurora-map' | translate }}</div>
    <div class="sub">{{ 'tab2.forecast.sub-aurora-map' | translate }}</div>
    <div id="map_canvas"></div>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.forecast.nexthours.title' | translate }}</div>
    <div class="sub">{{ 'tab2.forecast.nexthours.sub' | translate }}</div>
    <canvas id="kpnexthours"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.forecast.longterm.title' | translate }}</div>
    <div class="sub">{{ 'tab2.forecast.longterm.sub' | translate }}</div>
    <canvas id="kpforecast"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.forecast.speed.title' | translate }}</div>
    <div class="sub">{{ 'tab2.forecast.speed.sub' | translate: {unit: measure === 'metric' ? 'km/s' : 'mph/s'} }}</div>
    <canvas id="speed"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.forecast.density.title' | translate }}</div>
    <div class="sub">{{ 'tab2.forecast.density.sub' | translate }}</div>
    <canvas id="density"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.forecast.bz.title' | translate }}</div>
    <div class="sub">{{ 'tab2.forecast.bz.sub' | translate }}</div>
    <canvas id="bz"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.forecast.bt.title' | translate }}</div>
    <div class="sub">{{ 'tab2.forecast.bt.sub' | translate }}</div>
    <canvas id="bt"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.forecast.cycle.title' | translate }}</div>
    <div class="sub">{{ 'tab2.forecast.cycle.sub' | translate }}</div>
    <canvas id="cycle"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.forecast.poles' | translate }}</div>
    <div class="sub">{{ 'tab2.forecast.poles.sub' | translate }}</div>
    <div (click)="showPoles()" class="poles">
      <span class="icon icon-earth"></span>
    </div>
  </div>
</div>
