<div class="container">
  <div class="card-container" [routerLink]="['..', 'tab2', 'map']">
    <div class="header">{{ 'tab2.maps.aurora-map' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.sub-aurora-map' | translate }}</div>
    <div id="map_canvas"></div>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.nexthours.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.nexthours.sub' | translate }}</div>
    <canvas id="kpnexthours"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.longterm.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.longterm.sub' | translate }}</div>
    <canvas id="kpforecast"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.density.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.density.sub' | translate }}</div>
    <canvas id="density"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.speed.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.speed.sub' | translate }}</div>
    <canvas id="speed"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.bz.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.bz.sub' | translate }}</div>
    <canvas id="bz"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.bt.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.bt.sub' | translate }}</div>
    <canvas id="bt"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.cycle.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.cycle.sub' | translate }}</div>
    <canvas id="cycle"></canvas>
  </div>

  <div class="container-poles">
    <div (click)="showPoles()" class="poles">
      <span>{{ 'tab2.maps.poles' | translate }}</span>
      <span class="icon icon-earth"></span>
    </div>
  </div>
</div>
