<div class="container">
  <svg class="svg-aurora" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="1000">
    <defs>
      <linearGradient id="mask-gradient" x1="0" x2="0" y1="0" y2="800" gradientUnits="userSpaceOnUse">
        <stop offset="0.2" stop-color="#fff"></stop>
        <stop offset="1" stop-color="#000"></stop>
      </linearGradient>
      <linearGradient id="mask-gradientbis" x1="0" x2="0" y1="0" y2="800" gradientUnits="userSpaceOnUse">
        <stop offset="0.2" stop-color="#fff"></stop>
        <stop offset="1" stop-color="#000"></stop>
      </linearGradient>
      <mask id="mask" width="300" height="800" x="0" y="0" maskUnits="userSpaceOnUse">
        <rect fill="url(#mask-gradient)" width="300" height="800"></rect>
      </mask>
      <mask id="maskbis" width="300" height="800" x="0" y="0" maskUnits="userSpaceOnUse">
        <rect fill="url(#mask-gradientbis)" width="300" height="800"></rect>
      </mask>
      <linearGradient id="northern" x1="0" x2="60" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#00b16a" stop-opacity="0"></stop>
        <stop offset=".2" stop-color="#00b16a" stop-opacity=".5"></stop>
        <stop offset="1" stop-color="#00b16a" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient id="northernbis" x1="0" x2="60" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#9a12b3" stop-opacity="0"></stop>
        <stop offset=".2" stop-color="#9a12b3" stop-opacity=".5"></stop>
        <stop offset="1" stop-color="#9a12b3" stop-opacity="0"></stop>
      </linearGradient>
      <rect id="light" width="300" height="800" fill="url(#northern)" mask="url(#mask)"></rect>
      <rect id="lightbis" width="300" height="800" fill="url(#northernbis)" mask="url(#maskbis)"></rect>
    </defs>
    <g clip-path="url(#clip-path)">
      <g class="stars">
        <circle class="star" cx="308.5" cy="251" r="4.8"></circle>
        <circle class="star" cx="146.5" cy="442" r="4.8"></circle>
        <circle class="star" cx="591.5" cy="272" r="4.8"></circle>
        <circle class="star" cx="729.5" cy="388" r="4.8"></circle>
        <circle class="star" cx="863.5" cy="478" r="4.8"></circle>
        <circle class="star" cx="500.5" cy="347" r="4.8"></circle>
        <circle class="star" cx="449.5" cy="418" r="7.7"></circle>
        <circle class="star" cx="604.5" cy="171" r="7.7"></circle>
        <circle class="star" cx="407.5" cy="127" r="7.7"></circle>
        <circle class="star" cx="284.5" cy="499" r="5.8"></circle>
      </g>
      <g class="lights">
        <use class="light" xlink:href="#lightbis" x="734"></use>
        <use class="light" xlink:href="#lightbis" x="726"></use>
        <use class="light" xlink:href="#lightbis" x="718"></use>
        <use class="light" xlink:href="#light" x="710"></use>
        <use class="light" xlink:href="#lightbis" x="702"></use>
        <use class="light" xlink:href="#light" x="694"></use>
        <use class="light" xlink:href="#lightbis" x="686"></use>
        <use class="light" xlink:href="#light" x="678"></use>
        <use class="light" xlink:href="#lightbis" x="670"></use>
        <use class="light" xlink:href="#light" x="662"></use>
        <use class="light" xlink:href="#lightbis" x="656"></use>
        <use class="light" xlink:href="#light" x="648"></use>
        <use class="light" xlink:href="#lightbis" x="640"></use>
        <use class="light" xlink:href="#light" x="632"></use>
        <use class="light" xlink:href="#lightbis" x="624"></use>
        <use class="light" xlink:href="#light" x="616"></use>
        <use class="light" xlink:href="#light" x="608"></use>
        <use class="light" xlink:href="#lightbis" x="600"></use>
        <use class="light" xlink:href="#light" x="588"></use>
        <use class="light" xlink:href="#lightbis" x="576"></use>
        <use class="light" xlink:href="#light" x="564"></use>
        <use class="light" xlink:href="#lightbis" x="552"></use>
        <use class="light" xlink:href="#light" x="544"></use>
        <use class="light" xlink:href="#lightbis" x="536"></use>
        <use class="light" xlink:href="#light" x="528"></use>
        <use class="light" xlink:href="#lightbis" x="520"></use>
        <use class="light" xlink:href="#lightbis" x="512"></use>
        <use class="light" xlink:href="#light" x="504"></use>
        <use class="light" xlink:href="#light" x="496"></use>
        <use class="light" xlink:href="#lightbis" x="488"></use>
        <use class="light" xlink:href="#light" x="480"></use>
        <use class="light" xlink:href="#lightbis" x="472"></use>
        <use class="light" xlink:href="#light" x="464"></use>
        <use class="light" xlink:href="#light" x="456"></use>
        <use class="light" xlink:href="#lightbis" x="448"></use>
        <use class="light" xlink:href="#light" x="440"></use>
        <use class="light" xlink:href="#light" x="432"></use>
        <use class="light" xlink:href="#lightbis" x="424"></use>
        <use class="light" xlink:href="#light" x="416"></use>
        <use class="light" xlink:href="#light" x="408"></use>
        <use class="light" xlink:href="#lightbis" x="400"></use>
        <use class="light" xlink:href="#light" x="392"></use>
        <use class="light" xlink:href="#light" x="384"></use>
        <use class="light" xlink:href="#lightbis" x="376"></use>
        <use class="light" xlink:href="#light" x="368"></use>
        <use class="light" xlink:href="#light" x="360"></use>
        <use class="light" xlink:href="#lightbis" x="352"></use>
        <use class="light" xlink:href="#light" x="344"></use>
        <use class="light" xlink:href="#light" x="336"></use>
        <use class="light" xlink:href="#lightbis" x="328"></use>
        <use class="light" xlink:href="#light" x="320"></use>
        <use class="light" xlink:href="#light" x="312"></use>
        <use class="light" xlink:href="#lightbis" x="304"></use>
        <use class="light" xlink:href="#light" x="296"></use>
        <use class="light" xlink:href="#light" x="288"></use>
        <use class="light" xlink:href="#lightbis" x="280"></use>
        <use class="light" xlink:href="#light" x="272"></use>
        <use class="light" xlink:href="#light" x="264"></use>
        <use class="light" xlink:href="#lightbis" x="256"></use>
        <use class="light" xlink:href="#light" x="248"></use>
        <use class="light" xlink:href="#lightbis" x="240"></use>
        <use class="light" xlink:href="#light" x="232"></use>
        <use class="light" xlink:href="#lightbis" x="224"></use>
        <use class="light" xlink:href="#light" x="216"></use>
        <use class="light" xlink:href="#light" x="208"></use>
        <use class="light" xlink:href="#light" x="200"></use>
        <use class="light" xlink:href="#lightbis" x="192"></use>
        <use class="light" xlink:href="#light" x="184"></use>
        <use class="light" xlink:href="#lightbis" x="176"></use>
        <use class="light" xlink:href="#light" x="168"></use>
        <use class="light" xlink:href="#light" x="160"></use>
        <use class="light" xlink:href="#lightbis" x="152"></use>
        <use class="light" xlink:href="#light" x="144"></use>
        <use class="light" xlink:href="#light" x="136"></use>
        <use class="light" xlink:href="#lightbis" x="128"></use>
        <use class="light" xlink:href="#light" x="120"></use>
        <use class="light" xlink:href="#lightbis" x="112"></use>
        <use class="light" xlink:href="#light" x="104"></use>
        <use class="light" xlink:href="#lightbis" x="96"></use>
        <use class="light" xlink:href="#light" x="88"></use>
        <use class="light" xlink:href="#light" x="80"></use>
        <use class="light" xlink:href="#lightbis" x="72"></use>
        <use class="light" xlink:href="#light" x="66"></use>
        <use class="light" xlink:href="#light" x="58"></use>
        <use class="light" xlink:href="#lightbis" x="50"></use>
        <use class="light" xlink:href="#lightbis" x="42"></use>
        <use class="light" xlink:href="#light" x="34"></use>
        <use class="light" xlink:href="#light" x="26"></use>
        <use class="light" xlink:href="#lightbis" x="18"></use>
        <use class="light" xlink:href="#light" x="10"></use>
        <use class="light" xlink:href="#light" x="02"></use>
      </g>
    </g>
  </svg>

  <div class="card-container" [routerLink]="['..', 'tab2', 'map']">
    <div class="header">{{ 'tab2.maps.aurora-map' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.sub-aurora-map' | translate }}</div>
    <div id="map_canvas"></div>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.nexthours.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.nexthours.sub' | translate }}</div>
    <canvas id="kpnexthours"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.longterm.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.longterm.sub' | translate }}</div>
    <canvas id="kpforecast"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.density.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.density.sub' | translate }}</div>
    <canvas id="density"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.speed.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.speed.sub' | translate }}</div>
    <canvas id="speed"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.bz.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.bz.sub' | translate }}</div>
    <canvas id="bz"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.bt.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.bt.sub' | translate }}</div>
    <canvas id="bt"></canvas>
  </div>

  <div class="card-container">
    <div class="header">{{ 'tab2.maps.cycle.title' | translate }}</div>
    <div class="sub">{{ 'tab2.maps.cycle.sub' | translate }}</div>
    <canvas id="cycle"></canvas>
  </div>

  <div class="container-poles">
    <div (click)="showPoles()" class="poles">
      <span>{{ 'tab2.maps.poles' | translate }}</span>
      <span class="icon icon-earth"></span>
    </div>
  </div>
</div>
