@import '../../../theme/shared';

.card-container {
  .data-not-displayed {
    font-style: italic;
  }
  &:last-child {
    margin-bottom: 15px;
  }

  #map_canvas {
    height: 125px;
    width: 100%;
  }
  #cycle {
    height: 150px;
  }

  .poles img {
    width: 100px;
  }
}
