<!-- Thanks to https://codepen.io/jh3y/pen/JKddVx -->
<ng-container>
  <div class="live ace-data">
    <!--    https://opensea.io/collection/armins-all-access  here is pulsing live-->
    <div class="pulse"></div>
    <span id="live">{{ 'tab2.instant.live' | translate }}</span>
    <ion-popover trigger="live" triggerAction="click" alignment="center">
      <ng-template>
        <div [innerHTML]="'tab2.instant.live.tooltip' | translate"></div>
      </ng-template>
    </ion-popover>
  </div>

  <div class="kp ace-data">
    <div class="colored">
      <span
        *ngFor="let i of [1, 2, 3, 4]"
        [ngClass]="{
          green: kpCurrent?.color === AuroraEnumColours.green,
          yellow: kpCurrent?.color === AuroraEnumColours.yellow,
          orange: kpCurrent?.color === AuroraEnumColours.orange,
          red: kpCurrent?.color === AuroraEnumColours.red
        }"
      ></span>
    </div>
    <div class="value" *ngIf="kpCurrent?.kpIndex || kpCurrent?.kpIndex === 0">{{ kpCurrent.kpIndex }}</div>
    <ng-container
      *ngTemplateOutlet="!kpCurrent?.kpIndex && kpCurrent?.kpIndex !== 0 ? isLoadingAceData : null; context: { index: 2.4 }"
    ></ng-container>
    <div class="label">{{ 'tab2.instant.kpindex' | translate }}</div>
  </div>

  <div class="speed ace-data">
    <div class="colored">
      <span
        *ngFor="let i of [1, 2, 3, 4]"
        [ngClass]="{
          green: speed?.color === AuroraEnumColours.green,
          yellow: speed?.color === AuroraEnumColours.yellow,
          orange: speed?.color === AuroraEnumColours.orange,
          red: speed?.color === AuroraEnumColours.red
        }"
      ></span>
    </div>
    <div class="value" *ngIf="speed?.value">{{ speed.value }}</div>
    <ng-container *ngTemplateOutlet="!speed?.value ? isLoadingAceData : null; context: { index: 2.5 }"></ng-container>
    <div class="label">
      {{ 'tab2.instant.speed' | translate }}
      <div class="unit">{{ speed?.unit === 'imperial' ? '(mps)' : '(km/s)' }}</div>
    </div>
  </div>

  <div class="density ace-data">
    <div class="colored">
      <span
        *ngFor="let i of [1, 2, 3, 4]"
        [ngClass]="{
          green: density?.color === AuroraEnumColours.green,
          yellow: density?.color === AuroraEnumColours.yellow,
          orange: density?.color === AuroraEnumColours.orange,
          red: density?.color === AuroraEnumColours.red
        }"
      ></span>
    </div>
    <div class="value" *ngIf="density?.value">{{ density.value }}</div>
    <ng-container *ngTemplateOutlet="!density?.value ? isLoadingAceData : null; context: { index: 2.6 }"></ng-container>
    <div class="label">
      {{ 'tab2.instant.density' | translate }}
      <div class="unit">{{ 'tab2.instant.density.unit' | translate }}</div>
    </div>
  </div>

  <div class="bz ace-data">
    <div class="colored">
      <span
        *ngFor="let i of [1, 2, 3, 4]"
        [ngClass]="{
          green: bz?.color === AuroraEnumColours.green,
          yellow: bz?.color === AuroraEnumColours.yellow,
          orange: bz?.color === AuroraEnumColours.orange,
          red: bz?.color === AuroraEnumColours.red
        }"
      ></span>
    </div>
    <div class="value" *ngIf="bz?.value">{{ bz.value }}</div>
    <ng-container *ngTemplateOutlet="!bz?.value ? isLoadingAceData : null; context: { index: 2.7 }"></ng-container>
    <div class="label">
      {{ 'tab2.instant.bz' | translate }}
      <div class="unit">{{ bz?.value > 0 ? ('tab2.instant.bz.north' | translate) : ('tab2.instant.bz.south' | translate) }}</div>
    </div>
  </div>

  <div class="bt ace-data">
    <div class="colored">
      <span
        *ngFor="let i of [1, 2, 3, 4]"
        [ngClass]="{
          green: bt?.color === AuroraEnumColours.green,
          yellow: bt?.color === AuroraEnumColours.yellow,
          orange: bt?.color === AuroraEnumColours.orange,
          red: bt?.color === AuroraEnumColours.red
        }"
      ></span>
    </div>
    <div class="value" *ngIf="bt?.value">{{ bt.value }}</div>
    <ng-container *ngTemplateOutlet="!bt?.value ? isLoadingAceData : null; context: { index: 2.8 }"></ng-container>
    <div class="label">{{ 'tab2.instant.bt' | translate }}</div>
  </div>

  <div class="infos nowcast ace-data">
    <div *ngIf="nowcastAurora >= 0; else isLoadingNumber">{{ nowcastAurora }}%</div>
    <p [innerHTML]="'tab2.instant.probability' | translate"></p>
  </div>

  <div class="infos forecastLeadTime ace-data">
    <div *ngIf="speed?.value; else isLoadingNumber">{{ speed.value | forecastLeadTime: measureUnit }}mn</div>
    <p [innerHTML]="'tab2.instant.forecastLeadTime' | translate"></p>
  </div>

  <ng-template #isLoadingAceData let-index="index">
    <div class="value no-data">
      <app-placeholder-data [placeholderAce]="true" [index]="index"></app-placeholder-data>
    </div>
  </ng-template>
  <ng-template #isLoadingNumber>
    <app-placeholder-data [placeholderNumber]="true" [index]="2.5"></app-placeholder-data>
  </ng-template>
</ng-container>

<div class="night-sky">
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="star star--animated"></div>
  <div class="night-sky__aurora night-sky__aurora--one"></div>
  <div class="night-sky__aurora night-sky__aurora--two"></div>
</div>
<div class="landscape">
  <div class="tent"></div>
  <div class="campfire">
    <div class="campfire__flame"></div>
    <div class="campfire__logs"></div>
  </div>
</div>
