<app-header [titre]="'tab2.forecast.title' | translate"></app-header>
<div [routerLink]="['','tabs','tab2']" class="back">
  <span class="icon icon-back1"></span>
</div>
<ion-item>
  <ion-label>{{ 'tab2.forecast.select' | translate }}</ion-label>
  <ion-select [value]=" localisation" interface="action-sheet" (ionChange)="selectNewLocation($event)" [cancelText]="'global.cancel' | translate">
    <ion-select-option *ngFor="let city of cities" [value]="city.code">{{ city.ville }} - {{ city.codePays }}</ion-select-option>
  </ion-select>
</ion-item>

<div class="map-container">
  <button type="button" (click)="buttonMyPosition()"><span class="icon icon-map-target"></span></button>
  <div id="map_canvas_select"></div>
  <div class="legende">
    <span>25%</span>
    <span>50%</span>
    <span>75%</span>
  </div>
</div>
