<app-header [titre]="'tab2.forecast.title' | translate"></app-header>
<div class="header-bar">
  <div [routerLink]="['','tabs','tab2']" class="back">
    <span class="icon icon-back1"></span>
  </div>
  <div class="info">
    <ion-icon id="info-map" name="information-circle"></ion-icon>
    <ion-popover trigger="info-map" triggerAction="click" alignment="center">
      <ng-template>
        <div [innerHTML]="'tab2.forecast.tooltip.map' | translate"></div>
      </ng-template>
    </ion-popover>
  </div>
</div>
<div class="searchbar">
  <ion-searchbar
    id="searchbar"
    search-icon="location-outline"
    [debounce]="400"
    [placeholder]="'tab2.forecast.select' | translate "
    (ionInput)="handleInput($event)"
    (ionClear)="closeSearchbar()"
  ></ion-searchbar>

  <ion-list class="searchbar-list" *ngIf="citiesMatched" [style.width]="searchbarWidth">
    <ion-item *ngFor="let result of citiesList" (click)="selectNewLocation(convertCoords(result))">
      <ion-label class="name">
        <span>{{ result.name }} - {{result.countryCode }}</span>
        <span>{{ result.lat }}, {{ result.long }}</span>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

<div class="map-container">
  <div *ngIf="loadingNewLocation" class="content-spinner">
    <div class="whirly-loader"></div>
  </div>
  <button type="button" class="my-position" (click)="buttonMyPosition()" [disabled]="loadingNewLocation">
    <span class="icon icon-map-target"></span>
  </button>
  <div id="map_canvas_select"></div>
  <div class="legende">
    <span>25%</span>
    <span>50%</span>
    <span>75%</span>
  </div>
</div>
