<app-header [titre]="'tab2.forecast.title' | translate"></app-header>
<div class="header-bar">
  <div [routerLink]="['','tabs','tab2']" class="back">
    <span class="icon icon-back1"></span>
  </div>
  <div class="info">
    <ion-icon id="info-map" name="information-circle"></ion-icon>
    <ion-popover trigger="info-map" triggerAction="click" alignment="center">
      <ng-template>
        <div [innerHTML]="'tab2.forecast.tooltip.map' | translate"></div>
      </ng-template>
    </ion-popover>
  </div>
</div>
<ion-item>
  <ion-label>{{ 'tab2.forecast.select' | translate }}</ion-label>
  <ion-select
    interface="action-sheet"
    aria-label="cities select"
    [value]="localisation"
    [cancelText]="'global.cancel' | translate"
    (ionChange)="selectNewLocation($event)"
  >
    <ion-select-option *ngFor="let city of cities" [value]="city.code">{{ city.ville }} - {{ city.codePays }}</ion-select-option>
  </ion-select>
</ion-item>

<div class="map-container">
  <div *ngIf="loadingNewLocation" class="content-spinner">
    <div class="whirly-loader"></div>
  </div>
  <button type="button" class="my-position" (click)="buttonMyPosition()" [disabled]="loadingNewLocation">
    <span class="icon icon-map-target"></span>
  </button>
  <div id="map_canvas_select"></div>
  <div class="legende">
    <span>25%</span>
    <span>50%</span>
    <span>75%</span>
  </div>
</div>
